body {
    background-color: orangered;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vmin 20vmin 20vmin 20vmin 20vmin 20vmin;
    place-items: stretch;
    gap: 1.5vmin;
}

.button-container {
    background-color: white;
    display: grid;
    place-items: center;
}

.button1 {
    background-color: white;
    width: 16vmin;
    height: 8vmin;
    /* box-shadow: 0.5vmin 0.5vmin blue inset; */
    border-width: 0.1vmin 0.3vmin 0.3vmin 0.1vmin;
    border-color: grey;
    font-size: 4vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.button1:hover {
    background-color: rgb(236, 236, 236);
}

.button1:active {
    border-width: 0.3vmin 0.1vmin 0.1vmin 0.3vmin;
    border-color: grey;
}

.button2 {
    width: 16vmin;
    height: 10vmin;
    background-image: linear-gradient(to right, blue,indigo,violet); 
    border-radius: 20%;
    font-size: 4vmin;
    transition: transform 0.3s;
    transition-timing-function: ease-out;
}

.button2:hover {
    width: 18vmin;
    height: 12vmin;
    transform: rotate(15deg); 
    background-image: linear-gradient(to right,yellow,green,blue); 
}

.button2:active {
    width: 20vmin;
    height: 14vmin;
    transform: rotate(-15deg);
    background-image: linear-gradient(to right,red,orange,yellow); 
}

.button3 {
    width: 20vmin;
    height: 14vmin;
    overflow: hidden;
    padding: 0;
}

.button3 .normal {
    height: 100%;
}

.button3:active .normal {
    display: none;
}

.button3 .pressed {
    width: 100%;
    display: none;
}

.button3:active .pressed {
    display: unset
}

.button4 {
    box-shadow: none;
    border-width: 0.3vmin;
    border-color: lightblue;
    border-style: solid;
    position: relative;
    z-index: 1;
    width: 20vmin;
    height: 8vmin;
    cursor: all-scroll;
    font-size: 4vmin;
    color: white;
    background: linear-gradient(to right, rgb(170, 124, 39), rgb(202, 141, 28), rgb(170, 124, 39));
}

.button4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(112, 82, 26), rgb(151, 106, 21), rgb(112, 82, 26));
    opacity: 0;
    transition: opacity 0.4s;
    z-index: -1;
  }
  .button4:active::before {
    opacity: 1;
  }
  

.button4:active {
    border-style: solid;
    cursor: crosshair;
    
}